.displayBox {
    height: 275px;
    width: auto;
}

h3 {
    text-align: center;
    color: yellow;
}

li:hover {
    text-decoration-line: underline;
    cursor: pointer;
    background-color: violet;
}
